/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}
.app-md-toolbar{
  max-height: 40px;
  padding: 0px 110px 10px 110px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}
.logo{
height: 70px;
width: 70px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
   Every toolbar row uses a flexbox row layout.*/
  flex: 0.1 auto;
}
.example-fill-remaining-space2 {
  /* This fills the remaining space, by using flexbox. 
   Every toolbar row uses a flexbox row layout.*/
  flex: 1 auto;
}
.appmain-content {
  margin: 0px;
}
.app-content {
  padding: 10px 110px 0px 110px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

[md-fab] {
  position: absolute;
  right: 3%;
  top: 34px;
  z-index: 1;
}

md-sidenav-layout {
  background: rgba(0,0,0,0.03);
}

md-input {
  margin: 8px 0;
}

md-radio-button, md-checkbox {
  margin: 16px 8px;
}

.form {
  display: flex;
}

.form md-card {
  flex-grow: 1;
}
