md-card {
      margin: 0 4px 10px 7px;
      width: 210px;
      box-sizing: border-box;
    }
    
    .card-container {
      display: flex;
      flex-flow: row wrap;
    }
    .card-img{
        max-height: 90px;
        margin-top: 20px;
        max-width: 100px;
        padding-left: 35%;
    }
    md-card-subtitle {
      font-size: 11px;
    }
    .md-medium-tall {
  background-color: #37474F;
  color:#cccccc;
  height: 150px;
  padding-top: 40px;
}
.bottom-line{
    margin-right: 130px;
    border-left-style: solid 1px;
}