<h1 class="app-content">
  Subscribed Schools
</h1>
<div class="card-container app-content">
  <md-card>
    <md-card-header>
      <img md-card-avatar src="assets/images/apata-logo.png">
      <md-card-title>Apata Memorial School</md-card-title>
      <md-card-subtitle>Discipline, Knowledge, Hardwork</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/apata-logo.png" class="card-img">
    <md-card-content>
      <p>Here is some more content</p>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <img md-card-avatar src="assets/images/apata-logo.png">
      <md-card-title>Apata Memorial School</md-card-title>
      <md-card-subtitle>Discipline, Knowledge, Hardwork</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/apata-logo.png" class="card-img">
    <md-card-content>
      <p>Here is some more content</p>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <img md-card-avatar src="assets/images/apata-logo.png">
      <md-card-title>Apata Memorial School</md-card-title>
      <md-card-subtitle>Discipline, Knowledge, Hardwork</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/apata-logo.png" class="card-img">
    <md-card-content>
      <p>Here is some more content</p>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <img md-card-avatar src="assets/images/apata-logo.png">
      <md-card-title>Apata Memorial School</md-card-title>
      <md-card-subtitle>Discipline, Knowledge, Hardwork</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/apata-logo.png" class="card-img">
    <md-card-content>
      <p>Here is some more content</p>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <img md-card-avatar src="assets/images/apata-logo.png">
      <md-card-title>Apata Memorial School</md-card-title>
      <md-card-subtitle>Discipline, Knowledge, Hardwork</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/apata-logo.png" class="card-img">
    <md-card-content>
      <p>Here is some more content</p>
    </md-card-content>
  </md-card>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>